<!DOCTYPE html>
      <!-- Content Column -->

      <!-- <div class="col-lg-9 mb-4"> -->
       
        <h4>예약현황 출력</h2>
      
       <table class="table table-striped">
        <thead>
    <tr>
      <th>예약번호</th>
      <th>날짜</th>
      <th>이름</th>
      <th>연락처</th>
      <th>헤어스타일</th>
    </tr> 
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <th>2019-11-11</th>
      <th>유슬</th>
      <th>010-4567-8998</th>
      <th>8미리 샤기컷</th>
    </tr>
    <tr>
      <th>2</th>
      <th>2019-11-11</th>
      <th>유산슬</th>
      <th>010-4567-8998</th>
      <th>8미리 샤기컷</th>
    </tr>
    <tr>
      <th>3</th>
      <th>2019-11-11</th>
      <th>유산슬</th>
      <th>010-4567-8998</th>
      <th>8미리 샤기컷</th>
    </tr>
    </tbody> 
       </table>
      
 
       
 