<!DOCTYPE html>

        <h2>고객리스트</h2>
         <table class="table table-striped">
        <!-- 내역 테스트-->
        <thead>
    <tr>
      <th>등록번호</th>
      <th>예약일</th>
      <th>이름</th>
      <th>연락처</th>
      <th>완료여부</th>
      <th>후기</th>
    </tr> 
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <th>2019-11-11</th>
      <th>유산슬</th>
      <th>010-4567-8998</th>
      <th>완료</th>
      <th> <a class="btn btn-primary" href="#">후기</a></th>
    </tr>
    <tr>
      <th>2</th>
      <th>2019-11-11</th>
      <th>유산슬</th>
      <th>010-4567-8998</th>
      <th>미완료</th>
      <th> <a class="btn btn-primary" href="#">후기</a></th>
    </tr>
    <tr>
      <th>3</th>
      <th>2019-11-11</th>
      <th>유산슬</th>
      <th>010-4567-8998</th>
      <th>미완료</th>
      <th> <a class="btn btn-primary" href="#">후기</a></th>
    </tr>
    </tbody> 
       </table>
       <hr/>
       <div class="text-center">
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
       </div>
      </div>
    </div>
    <!-- /.row -->

 