<!DOCTYPE html>

window.onload = function() {

	$('#btn-upload').

}

<div class="col-lg-9 mb-4">

			
	        <h2>헤어스타일 등록</h2>
	        	
	        	
	        	<div> 
	        		<form id="uploadForm" enctype="multipart/form-data" method="POST"> 
		        		<label for="file1">파일 첫 번째</label> 
		        			<div>
		        				<input type="file" id="file1" name="file" />
		        			</div>
		        	 	<!--<label for="file2">파일 두 번째</label> 
		        			<div>
		        				<input type="file" id="file2" name="file" required="required" />
		        			</div>-->   
	        		
	        		</form>
	        		 <a id="btnLogin" class="btn btn-primary btn-block" href="#">Login</a>
	        	</div> 
	        	
	        	
	
	
	
</div>
	      


	