<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>
	
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
  
   <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery/jquery.ajax-cross-origin.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/hairStargram/common/common_nev.js"></script>
  <script src="js/hairStargram/login/facebook.js"></script>
  <script>
  	window.onload = function() {
  	  loadMenu();
      reservation();
  		
  		//$('#change').load('designer/designerPage-reservation.html');
	 	
  	};
  	
  	function hairstyle() {
  		$('#change').load('designer/designerPage-hairstyle.html');
  	}
  	
  	function timetable() {
  		$('#change').load('designer/designerPage-timetable.html');
  	}
  	
  	function reservation() {
  		$('#change').load('designer/designerPage-reservation.html');
  	}
  	
  	function customer() {
  		$('#change').load('designer/designerPage-customer.html');
  	}
  	
  	function info() {
  		$('#change').load('designer/designerPage-info.html');
  	}
  	
  	function fileupload() {
  		//var userId = getCookie('userId');
  		
  		$('#change').load('uploadfile.html');
  		
  	}
  	
  	function pageload() {
  		//var userId = getCookie('userId');
  		var userId = "test2@test.com";
  		//$('#getUserId').html(`<input type='hidden' name='userId' value="${userId}">`);
  		document.getElementById('userId').value=userId;
  		document.getElementById('getUserIdtest').value=userId;
  	}
  	
  	function categoryCheck() {
  		var categoryno = parseInt(document.getElementById('categoryNoselect').value);
  		if(document.getElementById('gender').value==1){
  			document.getElementById('categoryNo').value=categoryno+3;
  		}else
  			{
  			document.getElementById('categoryNo').value=categoryno;
  			}
  		
  	} 
  	
  	function regist(){
  			categoryCheck();
  	        $.ajax({
  	          url: "/hairStyleInsert",
  	          type: "POST",
  	          data: $('#hairstyleregist').serialize(),
  	          dataType: 'json',
  	        }).done(function (data) {
  	         
  	          window.location.href = 'userphoto.html';
  	        }).fail(function (jqXHR, textStatus, errorThrown) {
  	         
  	          console.log(jqXHR.responseText);
  	        });
  	     
  		
  	}
  	
  	
   		
  	function uploadFile() {
		  
  		if(document.getElementById('fileNo').value==""){
  		
  		
  		$.ajax({
				    url: "/uploadFile",
				    type: "POST",
				    data: new FormData($("#uploadForm")[0]),// 폼안에 있는 유저아이디도 같이 넘김
				    enctype: 'multipart/form-data',
				    processData: false,
				    contentType: false,
				    success: function (responseData) {
				      window.responseDT =responseData;
				      alert('파일업로드성공');// Handle upload success
				    	var fileThumbNailName=responseData.fileThumbNailName;
				    	
				    	var ThumbNail = "/images/"+ fileThumbNailName;
				    		$('#img_src').html
				    		(`<img id="target_image" src="${ThumbNail}" width="300" height="400">`);
				    		document.getElementById('fileNo').value=responseData.fileNo;
		    	    		},
		    		error: function () {
				      		  alert('파일업로드 실패. 파일을 선택해주세요');
				      		document.getElementById('fileNo').value="";
    				}
		  });
  		}
  		
	}
			
	
	function deleteFile() {
		if(!(document.getElementById('fileNo').value=="")){
		$.ajax({
			type : 'DELETE',
			url : "/fileDeleteStorageByfileNo/"+ window.responseDT.fileNo,
			success : function(result1) {
				alert('파일삭제 성공');
				console.log(result1);
				$.ajax({
					type : 'DELETE',
					url : "/fileDelete/"+ window.responseDT.fileNo,
					success : function(result2) {
						alert('파일DB삭제 성공');
						console.log(result2);
						$('#img_src').html
			    		(`<img id="target_image" src="/images/default2.jpg" width="300" height="400">`);
						document.getElementById('fileNo').value="";
						$('#fileinput').html(`<input type="file" id="file1" name="file" />`);
						
						
					},
					error : function(e) {
						alert('파일DB삭제 실패');
						console.log(e);
					}
			});
			},
			error : function(e) {
				alert('파일삭제 실패');
				console.log(e);
			}
		});
		}
	}
</script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
              <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
              <a class="dropdown-item" href="blog-post.html">Blog Post</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item active" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Designer - MyPage
      <small>정보수정</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-lg-3 mb-4">
        <div class="list-group">
          <a href="javascript:reservation();" class="list-group-item">예약현황</a>
          <a href="javascript:hairstyle();" class="list-group-item">헤어스타일 관리</a>
          <a href="javascript:timetable();" class="list-group-item">영업시간</a>
          <a href="javascript:customer();" class="list-group-item">고객현황</a>
          <a href="javascript:info();" class="list-group-item">정보수정</a>
    
        </div>
      </div>
      
      <!-- Content Column -->
      <span class="col-lg-9" id="change"> My page 	</span>
      	
    
      
      
	  
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

 
 

</body>

</html>
