<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AdminMapper">
	<select id="adminAll" resultType="com.example.demo.model.Admin">
		SELECT * FROM admin
	</select>
	<select id="getAdminId" parameterType="String" resultType="com.example.demo.model.Admin">
		SELECT * FROM admin WHERE adminUserId = #{adminUserId}
	</select>
	
	<select id="loginAdmin"  parameterType="com.example.demo.model.Admin" resultType="int">
		SELECT adminNo FROM admin WHERE adminUserId = #{adminUserId} and password = #{password}
	</select>
	
	<insert id="insertAdmin" parameterType="com.example.demo.model.Admin" >
	INSERT INTO admin(adminNo, adminUserId, password, email, adminName, phone, address) VALUES 
		(ADMIN_ADMINNO_SEQ.nextVal, #{adminUserId}, #{password}, #{email}, #{adminName}, #{phone}, #{address})

	</insert>
	<delete id="deleteAdmin" parameterType="String" >
		DELETE FROM admin WHERE adminUserId = #{adminUserId}
	</delete>
	<update id="updateAdmin" parameterType="com.example.demo.model.Admin"> 
		UPDATE admin SET password=#{password},email=#{email},adminName=#{adminName},phone=#{phone},address=#{address}
		WHERE adminUserId=#{adminUserId}
	</update>
	
</mapper>