<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CompanyOperationMapper">
	<select id="getCompanyOperation" parameterType="String" resultType="com.example.demo.model.CompanyOperation">
		SELECT * FROM companyOperation WHERE userId = #{userId}
    </select>

	<insert id="insertCompanyOperation" parameterType="com.example.demo.model.CompanyOperation">
		MERGE INTO companyOperation
            USING DUAL
                ON ( restDate = '0000-00-00' AND userId = #{userId} )
        WHEN MATCHED
        THEN
        UPDATE SET
                startTime = #{startTime},
                endTime = #{endTime}
        WHEN NOT MATCHED
        THEN
        INSERT (restDate, startTime, endTime, userId)
        VALUES  ('0000-00-00', #{startTime}, #{endTime}, #{userId})
    </insert>

    <update id="updateCompanyOperation" parameterType="com.example.demo.model.CompanyOperation">
        UPDATE companyOperation SET
            startTime = #{startTime},
            endTime = #{endTime}
        WHERE
            userId = #{userId} AND 
            restDate = #{restDate}
    </update>

    <delete id="deleteCompanyOperation" parameterType="com.example.demo.model.CompanyOperation">
        DELETE FROM companyOperation
        WHERE
            userId = #{userId} AND 
            restDate = #{restDate}
    </delete>
</mapper>