<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FileStorageMapper">
	<select id="getFile" parameterType="Long" resultType="com.example.demo.model.FileStorage">
		SELECT * FROM filestorage WHERE fileNo = #{fileNo}
	</select>
	<insert id="insertFile" parameterType="com.example.demo.model.FileStorage">
		INSERT INTO fileStorage values (FILESTORAGE_FILENO_SEQ.nextVal,#{userId}, #{filePath}, #{originFileName}, #{storageFileName}, #{thumbNailFileName})
	</insert>
	<update id="updateFile" parameterType="com.example.demo.model.FileStorage"> 
		UPDATE filestorage SET #{userId}, #{filePath}, #{originFileName}, #{storageFileName}, #{thumbNailFileName}
		WHERE fileNo=#{fileNo}
	</update>
	<delete id="deleteFile" parameterType="Long" >
		DELETE FROM filestorage WHERE fileNo = #{fileNo}
	</delete>
	
	<delete id="deleteFileByUserID" parameterType="String" >
		DELETE FROM filestorage WHERE userId = #{userId}
	</delete>
	
	<select id="getDeleteFileListByUserId" parameterType="String" resultType="com.example.demo.model.DeleteFileInfo">
		SELECT storageFileName , thumbnailFileName FROM fileStorage WHERE userId = #{userId}
	</select>
	
	<select id="getDeleteFileListByFileNo" parameterType="Long" resultType="com.example.demo.model.DeleteFileInfo">
		SELECT storageFileName , thumbnailFileName FROM fileStorage WHERE fileNo = #{fileNo}
	</select>
</mapper>