<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FileStorageMapper">
	<select id="getFile" parameterType="Long" resultType="com.example.demo.model.FileStorage">
		SELECT * FROM filestorage WHERE fileNo = #{fileNo}
	</select>
	<insert id="insertFile" parameterType="com.example.demo.model.FileStorage">
		INSERT INTO fileStorage values (FILESTORAGE_FILENO_SEQ.nextVal, #{filePath}, #{originFileName}, #{storageFileName})
	</insert>
	
	
</mapper>