<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FileStorageMapper">
	<select id="getFile" parameterType="Long" resultType="com.example.demo.model.FileStorage">
		SELECT * FROM filestorage WHERE fileNo = #{fileNo}
	</select>
	<insert id="insertFile" parameterType="com.example.demo.model.FileStorage">
		INSERT INTO fileStorage values (FILESTORAGE_FILENO_SEQ.nextVal, #{filePath}, #{originFileName}, #{storageFileName})
	</insert>
	<update id="updateFile" parameterType="com.example.demo.model.FileStorage"> 
		UPDATE filestorage SET filePath=#{filePath},originFileName=#{originFileName},storageFileName=#{storageFileName}
		WHERE fileNo=#{fileNo}
	</update>
	<delete id="deleteFile" parameterType="String" >
		DELETE FROM filestorage WHERE fileNo = #{fileNo}
	</delete>
	
	<select id="getDeleteFileInfoList" parameterType="String" resultType="com.example.demo.model.DeleteFileInfo">
		SELECT storageFileName , thumbnailFileName FROM fileStorage WHERE userId = #{userId}
	</select>
	
</mapper>