<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.HairStyleMapper">
	<select id="getHairStyleList" parameterType="com.example.demo.model.HairStyle">
		select * from hairStyle
	</select>
	<select id="getHairStyle" parameterType="Long" resultType="com.example.demo.model.HairStyle">
		select * from hairStyle where styleNo = #{styleNo}
	</select>
	
	<insert id="insertHairStyle" parameterType="com.example.demo.model.HairStyle">
		insert into hairStyle values
			(HAIRSTYLE_STYLENO_SEQ.nextVal,#{gender},#{styleName},#{price},#{hour},#{minute},#{styleComment},#{fileNo},#{categoryNo},#{userId})
	</insert>
	<update id="updateHairStyle" parameterType="com.example.demo.model.HairStyle">
		update hairStyle set styleName=#{styleName},price=#{price},hour=#{hour},minute=#{minute}, styleComment=#{styleComment},categoryNo=#{categoryNo},userId=#{userId}
   			 where fileNo=#{fileNo}
	</update>

	<delete id="deleteHairStyle" parameterType="Long">
		delete hairStyle where styleNo = #{styleNo}
	</delete>
	
	<delete id="deleteHairStyleFile" parameterType="Long">
		delete hairStyle where fileNo = #{fileNo}
	</delete>


</mapper>