<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.HairStyleMapper">
	<select id="getHairStyleList" resultType="com.example.demo.model.HairStyle">
		select * from hairStyle
	</select>
	
	<select id="getRegHairStyle" resultType="com.example.demo.model.HairStyleFile">
		SELECT * FROM hairstyle A JOIN filestorage B ON a.fileno = b.fileno
	</select>
	
	<select id="getHairStyleListJoin" resultType="com.example.demo.model.HairStyleListMain">
		select f.THUMBNAILFILENAME,h.*
		from hairstyle h
		join filestorage f
		on h.fileno = f.fileno
	</select>
	
	<select id="hairStyleJoinbyUserId" parameterType="String" resultType="com.example.demo.model.HairStyleListMain">
		select * from
		(select f.THUMBNAILFILENAME,h.*
		from hairstyle h
		join filestorage f
		on h.fileno = f.fileno) u
        where u.userId = #{userId}
	</select>
	
	<select id="getHairStyleJoinFile" parameterType="String" resultType="com.example.demo.model.UserRegistJoinFile">
		select u.* , f.thumbnailfilename 
		from userregist u 
		join filestorage f 
		on u.fileno = f.fileno 
		where u.userId = #{userId}
	</select>
	
	<select id="getHairStyleListReco" resultType="com.example.demo.model.HairStyleListMain">
		select f.THUMBNAILFILENAME,h.*
		from hairstyle h
		join filestorage f
		on h.fileno = f.fileno
        order by RECOMMEND desc
	</select>
	
	<select id="hairStyleListPrice" resultType="com.example.demo.model.HairStyleListMain">
		select f.THUMBNAILFILENAME,h.*
		from hairstyle h
		join filestorage f
		on h.fileno = f.fileno
        order by price desc
	</select>
	
	<select id="getHairStyle" parameterType="Long" resultType="com.example.demo.model.HairStyle">
		select * from hairStyle where styleNo = #{styleNo}
	</select>
	
	<insert id="insertHairStyle" parameterType="com.example.demo.model.HairStyle">
		insert into hairStyle values
			(HAIRSTYLE_STYLENO_SEQ.nextVal,#{gender},#{styleName},#{price},#{hour},#{minute},#{styleComment},#{fileNo},#{categoryNo},#{userId},#{recommend})
	</insert>
	
	<update id="updateHairStyle" parameterType="com.example.demo.model.HairStyle">
		update hairStyle set gender=#{gender}, styleName=#{styleName},fileNo=#{fileNo},price=#{price},hour=#{hour},minute=#{minute}, styleComment=#{styleComment},categoryNo=#{categoryNo},userId=#{userId}
   			 where styleNo=#{styleNo}
	</update>

	<delete id="deleteHairStyle" parameterType="Long">
		delete from hairStyle where styleNo=#{styleNo}
	</delete>
	
	<delete id="deleteHairStyleFile" parameterType="Long">
		delete from hairStyle where fileNo = #{fileNo}
	</delete>


</mapper>