<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PreCompanyMapper">
	<select id="getPreCompanyList" resultType="com.example.demo.model.PreCompany">
		SELECT * FROM PreCompany WHERE userId = #{userId}
	</select>
	<select id="getPreUserId" parameterType="String" resultType="com.example.demo.model.PreCompany">
		SELECT * FROM PreCompany WHERE userId = #{userId}
	</select>
	<insert id="insertPreCompany" parameterType="com.example.demo.model.PreCompany">
		<selectKey keyProperty="preCompanyNo" resultType="int" order="BEFORE">
			SELECT PRECOMPANY_PRECOMNO_SEQ.nextVal FROM dual
		</selectKey>
		
		INSERT INTO preCompany(preComNo, userId, regionNo, companyName, companyAddress) VALUES
					(#{preCompanyNo}, #{userId}, #{regionNo}, #{companyName}, #{companyAddress})
	</insert>
	<update id="updatePreCompany" parameterType="com.example.demo.model.PreCompany">
		UPDATE PreCompany SET companyName=#{companyName},regionNo=#{regionNo},companyAddress=#{companyAddress}
		WHERE precomNo=#{preCompanyNo}
	</update>
	<delete id="deletePreCompanyAsUserId" parameterType="String">
		DELETE FROM PreCompany WHERE userId = #{userId}
	</delete>

	<delete id="deletePreCompanyAsPreCompanyNo" parameterType="int">
		DELETE FROM PreCompany WHERE preComNo = #{preCompanyNo}
	</delete>

</mapper>