<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ReservationMapper">
	<select id="getReserviatonCollectionAsDate" parameterType="com.example.demo.model.Reservation" resultType="com.example.demo.model.CustomerReservation">
		SELECT R.resNo, R.resDate, R.useComment, U.userName, HS.styleName
		FROM (	
			SELECT resNo, resDate, useComment, userId, styleNo
			FROM reservation
			WHERE	
				resDate = '2019-11-19T18:30' AND
				designerId = 'hairstargramtester1@outlook.com'
			) R
		JOIN userRegist U
		ON U.userId = R.userId
		
		JOIN hairStyle HS
		ON HS.styleNo = R.styleNo
	</select>

	<select id="getReserviatonAsOnlyUser" parameterType="com.example.demo.model.Reservation" resultType="com.example.demo.model.Reservation">
		SELECT * 
		FROM reservation 
		WHERE 
			designerId = #{designerId} AND 
			userId = #{userId} AND
			useComplete = 0
	</select>

	<insert id="insertReserviaton" parameterType="com.example.demo.model.Reservation">
		INSERT INTO reservation(resNo, resDate, useComment, useComplete, styleNo, designerId, userId) VALUES
			(RESERVATION_RESNO_SEQ.nextVal, #{resDate}, #{useComment}, #{useComplete}, #{styleNo}, #{designerId}, #{userId})
	</insert>

	<update id="updateReservationAsUseComplete" parameterType="Long">
		UPDATE reservation SET
			useComplete = 1
		WHERE
			resNo = #{resNo}
	</update>

	<delete id="deleteReserviaton" parameterType="Long" >
		DELETE FROM reservation WHERE resNo = #{resNo}
	</delete>

	
</mapper>