<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ReservationMapper">

	<select id="getReservationCollectionSelectionMonth" parameterType="com.example.demo.model.ReservationSelector" resultType="com.example.demo.model.CustomerReservation">
		SELECT R.resNo, HS.categoryNo, R.resDate, R.useComment, U.userName, HS.styleName, useComplete
		FROM (	
				SELECT resNo, resDate, useComment, userId, styleNo, useComplete
				FROM reservation R1
				WHERE	
					designerId = #{designerId} AND
					getResMonth(R1.resDate) = #{month}
			) R
		JOIN userRegist U
		ON U.userId = R.userId
		
		JOIN hairStyle HS
		ON HS.styleNo = R.styleNo
	</select>

	<select id="getReservationCollectionSelectionDate" parameterType="com.example.demo.model.Reservation" resultType="com.example.demo.model.CustomerReservation">
		SELECT R.resNo, HS.categoryNo, R.resDate, R.useComment, U.userName, HS.styleName, R.useComplete
		FROM (	
				SELECT resNo, resDate, useComment, userId, styleNo, useComplete
				FROM reservation R1
				WHERE	
					TO_DATE(SUBSTR(R1.resDate, 1,10), 'YYYY-MM-DD') = #{resDate} AND
					designerId = #{designerId}
			) R
		JOIN userRegist U
		ON U.userId = R.userId
		
		JOIN hairStyle HS
		ON HS.styleNo = R.styleNo
	</select>

	<select id="getReserviatonAsOnlyUser" parameterType="String" resultType="com.example.demo.model.Reservation">
		SELECT * 
		FROM reservation 
		WHERE 
			userId = #{userId} AND
			useComplete = 0
	</select>

	<select id="checkReservation" parameterType="String" resultType="String">
		SELECT userId
		FROM reservation 
		WHERE 
			userId = #{userId} AND
			useComplete = 0
	</select>

	<insert id="insertReserviaton" parameterType="com.example.demo.model.Reservation">
		INSERT INTO reservation(resNo, resDate, useComment, useComplete, styleNo, designerId, userId) VALUES
			(RESERVATION_RESNO_SEQ.nextVal, #{resDate}, #{useComment}, #{useComplete}, #{styleNo}, #{designerId}, #{userId})
	</insert>

	<update id="updateReservationAsUseComplete" parameterType="Long">
		UPDATE reservation SET
			useComplete = 1
		WHERE
			resNo = #{resNo}
	</update>

	<delete id="deleteReserviaton" parameterType="Long" >
		DELETE FROM reservation WHERE resNo = #{resNo}
	</delete>

	<select id="getReserviatonAsUserMyPage" parameterType="String" resultType="com.example.demo.model.UserReservation">
		SELECT 
			H.styleNo, 
			H.styleName, 
			H.styleComment,
			H.hour AS hairUseHour, 
			H.minute AS hairUseMinute, 
			H.price AS hairPrice, 
			D.userNo AS designerNo, 
			D.userName AS designerName, 
			D.phone AS designerPhone, 
			D.userId AS designerEmail,
			C.companyName || ' ' || C.companyAddress AS designerCompanyName,
			OP.startTime, 
			OP.endTime, 
			HF.thumbnailFileName AS hairThumbNailFileName, 
			DF.thumbnailFileName AS designerThumbNailFileName,
			R.resNo,
			R.resDate, 
			R.useComment
		FROM(
				SELECT resNo, styleNo, useComment, designerId, resDate
				FROM reservation
				WHERE userId = #{userId} AND useComplete = 0
			) R
		LEFT OUTER JOIN hairStyle H
			ON H.styleNo = R.styleNo

		LEFT OUTER JOIN fileStorage HF
			ON HF.fileNo = H.fileNo

		LEFT OUTER JOIN userRegist D
			ON D.userId = R.designerId

		LEFT OUTER JOIN fileStorage DF
			ON DF.fileNo = D.fileNo

		LEFT OUTER JOIN company C
			ON C.userId = D.userId

		LEFT OUTER JOIN companyOperation OP
			ON OP.userId = D.userId
	</select>
	
</mapper>