<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ReviewMapper">
	<select id="getReplyList" parameterType="String" resultType="com.example.demo.model.Review">
		SELECT * FROM usereply
	</select> 
	<select id="getReply" parameterType="String" resultType="com.example.demo.model.Review">
		SELECT * FROM usereply WHERE userId = #{userId}
	</select> 
	<select id="insertReply" parameterType="com.example.demo.model.Review">
		INSERT INTO usereply(replyno,resno,title,usecontent,writetime,userid,styleno,designerid) values (USEREPLY_REPLYNO_SEQ.nextval,#{resNo},#{title},#{useContent} , SYSDATE ,#{userId} ,#{styleNo},#{designerId})
	</select> 
	<select id="updateReply" parameterType="long" resultType="com.example.demo.model.Review">
		UPDATE usereply SET USECONTENT = useContent=#{useContent} where replyNo = #{replyNo}
		</select> 
	<select id="deleteReply" parameterType="long">
		DELETE FROM usereply WHERE replyNo = #{replyNo}
	</select> 
</mapper>

<!-- 
		INSERT INTO usereply values (USEREPLY_REPLYNO_SEQ.nextval,?,?,SYSDATE,?,?,?,?)
 -->