<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserRegistMapper">
	<select id="getUser" parameterType="String" resultType="com.example.demo.model.UserRegist">
		SELECT * FROM userRegist WHERE userId = #{userId}
	</select>

	<insert id="insertUser" parameterType="com.example.demo.model.UserRegist">
		INSERT INTO userRegist(userNo, userId, userName, gender, phone, nickName, userLevel) VALUES 
				(USERREGIST_USERNO_SEQ.nextVal, #{userId}, #{userName}, #{gender}, #{phone}, #{nickName}, #{userLevel})
	</insert>
</mapper>