<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
	<select id="getUserList" resultType="com.example.demo.model.UserRegist">
		SELECT * FROM userRegist
	</select>
	
	<select id="getUserId" parameterType="String" resultType="String">
		SELECT userId FROM userRegist WHERE userId = #{userId}
	</select>

	<select id="getUser" parameterType="String" resultType="com.example.demo.model.UserRegist">
		SELECT * FROM userRegist WHERE userId = #{userId}
	</select>

	<insert id="insertUser" parameterType="com.example.demo.model.UserRegist">
		INSERT INTO userRegist(userNo, userId, userName, gender, phone, nickName, regionNo, userLevel) VALUES 
				(USERREGIST_USERNO_SEQ.nextVal, #{userId}, #{userName}, #{gender}, #{phone}, #{nickName}, #{regionNo}, #{userLevel})
	</insert>

	<update id="updateUser" parameterType="com.example.demo.model.UserRegist">
		UPDATE userRegist SET
			 userName = #{userName}, gender = #{gender}, phone = #{phone}, nickName = #{nickName}, fileNo = #{fileNo}
		WHERE
			 userId = #{userId}
	</update>

	<delete id="deleteHFavorite" parameterType="String">
		DELETE FROM hairstyleFavorite WHERE userId = #{userId}
	</delete>

	<delete id="deleteDFavorite" parameterType="String">
		DELETE FROM designerFavorite WHERE userId = #{userId}
	</delete>

	<delete id="deleteUser" parameterType="String">
		DELETE FROM userRegist WHERE userId = #{userId}
	</delete>
</mapper>